<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/new">new message</a>
    </nav>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <%messages.forEach(message => { %>
      <h1><%=message.user%>, <%=message.text%></h1>
      <p>Today is <%=message.added%></p>
    <%})%>
  </body>
</html>
